.layout {
  position: relative;
  padding: 2.5rem 0;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1.563rem;
  padding: 0 2.5rem;
  max-width: 58.375rem;
  margin: 1.875rem 0;
}

@media only screen and (max-width: 768px) {
  .layout {
    padding: 5rem 0;
    width: 100%;
  }

  .header {
    max-width: 58.375rem;
  }
}

