
.article {
  width: 27.031rem;
  height: 29.875rem;
}

.containerPeople {
  width: 27.031rem;
  height: 478px;
}

.characterPhoto {
  width: 27.031rem;
  height: 14.375rem;
}

.characterName {
  margin: 0.5rem 0;
}

.characterInfo {
  margin: 0.5rem 0;
}

@media only screen and (max-width: 768px) {
  .article {
    width: 28.333rem;
    height: 12.167rem;
  }

  .containerPeople {
    width: 27.031rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .characterInfo {
    display: none;
  }

  .characterPhoto {
    width: 115px;
    height: 130px;
  }
}
